Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

epel is NOT allowed in tripleo, hack for mock
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add cache='unsafe' to the undercloud as well
  roles/libvirt/setup/undercloud/templates/undercloudvm.xml.j2
Due: none

Install python3-virtualbmc when using redhat/centos 8
  roles/environment/vars/redhat-7.yml
  roles/environment/vars/redhat-8.yml
  roles/virtbmc/meta/main.yml
  roles/virtbmc/tasks/configure-vbmc.yml
Due: none

Allow to customize the undercloud's grub options
  roles/libvirt/setup/undercloud/templates/undercloudvm.xml.j2
Due: none

Move featureset039 to os-tempest conditionally adds required vars
  config/general_config/featureset039.yml
Due: tripleo-ci-centos-7-scenario001-standalone

only allow tripleo gated repos in for puppet
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Sync fs035 job with fs001 settings
  config/general_config/featureset035.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Move expected commit & distro hash regex into repo-setup role vars
  roles/repo-setup/defaults/main.yml
  roles/repo-setup/tasks/get-dlrn-hash-newest.yml
  roles/repo-setup/tasks/get-dlrn-hash.yml
Due: none

Ported featureset060.yml to os_tempest.
  config/general_config/featureset060.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Do not install mock from epel repo
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

[install-deps] Use venv instead of virtualenv when possible
  install-deps.sh
Due: none

Include toci roles as a part of quickstart extra requires
  quickstart-extras-requirements.txt
Due: none

Switch to Official repos for ceph and opstools
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Switch master releases to CentOS8
  config/release/centosci/master-current-tripleo.yml
  config/release/master-tripleo-ci.yml
  config/release/trunk/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add release file for ussuri release
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-ussuri.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Ensure consistent network device naming is disabled
  config/environments/default_libvirt.yml
Due: tripleo-ci-centos-7-scenario001-standalone

create CentOS-8 train release config
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/CentOS-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

exclude podman from centos-extras
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-train.yml
  config/release/tripleo-ci/CentOS-7/stein.yml
  config/release/tripleo-ci/CentOS-7/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Disable checking of image url for master
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Update roles path tripleo-ansible and tripleo-ipa repos
  ansible.cfg
  quickstart-extras-requirements.txt
Due: none

Correct typo introduced in I1074e0204910726d82950496ac4813a06e315252
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Include notest tag to default quickstart tags
  quickstart.sh
Due: none

Update docs building
  doc/requirements.txt
  doc/source/getting-started.rst
  setup.cfg
  test-requirements.txt
  tox.ini
Due: none

Move fs02 to os_tempest
  config/general_config/featureset002.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add openstack-tempest-skiplist to list of requirements
  quickstart-extras-requirements.txt
Due: none

use releases rather than distro distro_version to determine dlrn path
  roles/repo-setup/tasks/get-dlrn-hash-newest.yml
  roles/repo-setup/tasks/get-dlrn-hash.yml
Due: none

Switch minimal featureset to os_tempest for train+
  config/general_config/minimal.yml
Due: tripleo-ci-centos-7-scenario001-standalone

update ussuri container namespace to 'u'
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

add distro version option to cico get-node.sh
  ci-scripts/get-node.sh
Due: none

Move fs062 to os_tempest
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Use centos proxy mirror for centos8 repos
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-ussuri.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add Amphora image url in fs038
  config/general_config/featureset038.yml
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container

add helpful debug info when fetching images
  roles/fetch-images/tasks/fetch.yml
Due: none

Setup featureset052 to run tempest skipped tests
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-standalone

Use tempest_tempestconf_profile_overrides for extra overrides
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Removed job tripleo-ci-centos-7-scenario009-multinode-oooq-container.
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Add CloudSIG ussuri release file
  config/release/tripleo-ci/CentOS-8/cloudsig/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix featureset yml link
  doc/source/feature-configuration-generated.rst
  fs-matrix.py
Due: none

Revert "[install-deps] Use venv instead of virtualenv when possible"
  install-deps.sh
Due: none

Fix repo_cmd_after for cloudsig ussuri release
  config/release/tripleo-ci/CentOS-8/cloudsig/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: config/general_config/featureset005.yml
  tripleo-ci-centos-7-scenario001-standalone: any of: ^config/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: config/general_config/featureset006.yml
  tripleo-ci-centos-7-scenario002-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: config/general_config/featureset007.yml
  tripleo-ci-centos-7-scenario003-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: config/general_config/featureset008.yml
  tripleo-ci-centos-7-scenario004-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: config/general_config/featureset030.yml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: config/general_config/featureset033.yml
  tripleo-ci-centos-7-standalone: any of: config/general_config/featureset052.yml
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: config/general_config/featureset038.yml
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: config/general_config/featureset026.yml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: config/general_config/featureset031.yml
