Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Fix IPA image path used for TLS supplemental node
  roles/libvirt/setup/supplemental/templates/tls_everywhere_provisioner.sh.j2
Due: none

override container update repos for Fedora
  config/release/tripleo-ci/Fedora-28/master.yml
  config/release/tripleo-ci/Fedora-28/stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Run more jobs on requirements changes
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Test install-deps.sh script using pytest/molecule
  molecule/Dockerfile.j2
  molecule/install-deps/molecule.yml
  molecule/install-deps/playbook.yml
  setup.cfg
  tests/hosts.ini
  tests/test_molecule.py
  tox.ini
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Use non-dvr-ha template for neutron-ovn ha
  config/general_config/featureset028.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq

Remove scenario008 jobs
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Set featureset021 to run only skip list
  config/general_config/featureset021.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Bump Ansible to 2.7.x
  requirements.txt
Due: none

Adds validation of release config files
  config/release/tripleo-ci/Fedora-28/master.yml
  config/release/tripleo-ci/Fedora-28/promotion-testing-hash-master.yml
  config/release/tripleo-ci/Fedora-28/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/Fedora-28/stein.yml
  tests/hosts.ini
  tests/test_molecule.py
  tests/test_release_files.py
  tests/validate-release-config.yml
  tox.ini
Due: tripleo-ci-centos-7-scenario001-standalone

fs027: use ansible_hostname for host resolution
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add undercloud_cloud_domain in featureset049
  config/general_config/featureset049.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add tripleo-ansible to tripleo packages in current
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/Fedora-28/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Turn off ansible lint after deployment.
  config/general_config/featureset060.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove featureset057
  config/general_config/featureset057.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix failure in featureset039
  roles/tripleo-inventory/files/get_extra_node.py
  roles/tripleo-inventory/files/remove_extra_node.py
  roles/tripleo-inventory/tasks/inventory.yml
Due: none

Avoids use of ignore_errors while loading OS specific variables
  roles/environment/tasks/main.yml
Due: none

Create supplemental node volume in correct volume pool
  roles/libvirt/setup/supplemental/templates/tls_everywhere_provisioner.sh.j2
Due: none

Fixed roles_path in ansible.cfg
  ansible.cfg
Due: none

Run multinode jobs on all patches
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Enable os_tempest for master multinode jobs
  config/general_config/featureset010.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Added RedHat-8 release file
  config/release/tripleo-ci/RedHat-8/master.yml
  tests/validate-release-config.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Temporary exclude ceph-ansible rc11 from nautilus repo
  config/release/tripleo-ci/CentOS-7/consistent-master.yml
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/CentOS-7/stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add single minion node config
  config/general_config/featureset061.yml
  config/nodes/1minion.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Include ansible-config_template in delorean-current repo
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/Fedora-28/master.yml
  config/release/tripleo-ci/RedHat-8/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Revert "Temporary exclude ceph-ansible rc11 from nautilus repo"
  config/release/tripleo-ci/CentOS-7/consistent-master.yml
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/CentOS-7/stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

[RHEL8] promotion-testing-hash-master release file
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add dlrn_hash_tag_newest to RHEL-8 repo file
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

[RHEL8] Fixed rdo_dlrn in release file
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Include paunch-services in delorean-current repo
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/stein.yml
  config/release/tripleo-ci/Fedora-28/master.yml
  config/release/tripleo-ci/Fedora-28/stein.yml
  config/release/tripleo-ci/RedHat-8/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

[RHEL8]Fix release file for DLRN package builds
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add py3 support for get-overcloud-nodes script
  roles/tripleo-inventory/tasks/inventory.yml
  roles/tripleo-inventory/templates/get-overcloud-nodes.py.j2
Due: none

Generate fs matrix from source yaml files
  .pre-commit-config.yaml
  doc/source/feature-configuration-generated.rst
  doc/source/feature-configuration.rst
  fs-matrix.py
  test-requirements.txt
  tox.ini
Due: none

Bump tripleo quickstart ansible to 2.8
  requirements.txt
Due: none

Remove 'change_when' when using include_role
  roles/libvirt/setup/undercloud/tasks/inject_repos.yml
Due: none

Add ARA python3 paths to ansible.cfg of oooq
  ansible.cfg
Due: none

Try more to download checksum
  roles/fetch-images/tasks/fetch.yml
Due: none

Use py3 firstly in running get-overcloud-nodes
  roles/tripleo-inventory/tasks/inventory.yml
Due: none

[Doc] Fix links to featureset files
  doc/source/feature-configuration-generated.rst
Due: none

Update supplemental role to paramaterize networking
  roles/libvirt/setup/supplemental/README.md
  roles/libvirt/setup/supplemental/defaults/main.yml
  roles/libvirt/setup/supplemental/templates/tls_everywhere_provisioner.sh.j2
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: config/general_config/featureset005.yml
  tripleo-ci-centos-7-scenario001-standalone: any of: ^config/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: config/general_config/featureset006.yml
  tripleo-ci-centos-7-scenario002-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: config/general_config/featureset007.yml
  tripleo-ci-centos-7-scenario003-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: config/general_config/featureset008.yml
  tripleo-ci-centos-7-scenario004-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: config/general_config/featureset030.yml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: config/general_config/featureset033.yml
  tripleo-ci-centos-7-standalone: any of: config/general_config/featureset052.yml
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: config/general_config/featureset038.yml
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: config/general_config/featureset026.yml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: config/general_config/featureset031.yml
