Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Use tempest_whitelist for check job
  config/general_config/featureset001.yml
Due: tripleo-ci-centos-7-scenario001-standalone

workaround for virtualenv dep issues
  install-deps.sh
Due: none

Donot remove virtualenv for RHEL-8
  install-deps.sh
Due: none

Add topology_map to 1ctrl 1compute nodes file
  config/nodes/1ctlr_1comp.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Set tempest_run_concurrency to 4 for featureset001
  config/general_config/featureset001.yml
Due: tripleo-ci-centos-7-scenario001-standalone

[RHEL-8] Update release file with new image server address
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Revert "Revert "Remove hardcoding of python interpreter for rhel8""
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

add support for rhel8/centos8 virthosts
  ansible.cfg
  roles/environment/vars/centos-7.yml
  roles/environment/vars/centos-8.yml
  roles/environment/vars/redhat-8.yml
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
  roles/libvirt/setup/overcloud/tasks/main.yml
  roles/libvirt/setup/overcloud/tasks/register_vm.yml
  roles/parts/libvirt/defaults/main.yml
  roles/parts/libvirt/meta/main.yml
  roles/provision/local/tasks/main.yml
  roles/virtbmc/tasks/configure-vbmc.yml
Due: none

Disable paunch on fs050
  config/general_config/featureset050.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Switch to images.r.o from images-vexxhost
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Upgrade molecule to 3.0a9
  molecule/install-deps/converge.yml
  tox.ini
Due: none

support rhel-7 as virthost
  roles/environment/vars/redhat-7.yml
Due: none

Add release files for master CentOS 8
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
  roles/repo-setup/defaults/main.yml
  roles/repo-setup/tasks/get-dlrn-hash.yml
Due: tripleo-ci-centos-7-scenario001-standalone

[CentOS-8] Install ansible 2.8
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Correct the component dlrn repo link in centos 8 master release file
  config/release/tripleo-ci/CentOS-8/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

use docker.io for current-tripleo and centos-8
  config/release/tripleo-ci/CentOS-8/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Revert sudo and six workarounds for virtualenv 20.0.1 issues
  bindep.txt
  install-deps.sh
Due: none

Added missing -y with epel install command
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Revert "[CentOS-8] Install ansible 2.8"
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

update convert images for python3 packages
  roles/convert-image/defaults/main.yml
Due: none

Fix convert image package list
  roles/convert-image/defaults/main.yml
Due: none

tripleo current in c8 promotion release config
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Pinning pytest-html to <= 2.0.1
  tox.ini
Due: none

Set python executable in tripleo-inventory tasks for centos8 jobs
  roles/tripleo-inventory/tasks/inventory.yml
Due: none

Update get-dlrn-hash-newest to work with aggregate hashes
  roles/repo-setup/tasks/get-dlrn-hash-newest.yml
Due: none

Handle pip being installed as /usr/bin/pip3
  install-deps.sh
Due: none

Adjust molecule requirements
  molecule-requirements.txt
  tox.ini
Due: none

Use vexxhost cirros image for standalone tempest
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-standalone

Fix logic for "Check DLRN hash newest format"
  roles/repo-setup/tasks/get-dlrn-hash-newest.yml
  roles/repo-setup/tasks/get-dlrn-hash.yml
Due: none

Set overcloud_container_cli to podman for c8
  config/general_config/featureset030.yml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Run py2 in case of CentOS7 on OVB
  roles/tripleo-inventory/tasks/inventory.yml
Due: none

Replace CBS mash repositories by -testing CDN ones
  config/general_config/featureset033.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario009-multinode-oooq

Update image URL links for CentOS 8
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Adds centos-8 testing to install-deps
  molecule/Dockerfile.j2
  molecule/install-deps/molecule.yml
Due: none

Configure main registry as trunk.registry.rdoproject.org
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-ocata.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-pike.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-queens.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-rocky.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-train.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove tempest_tempest_conf_overrides from featureset 52
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-standalone

removing old requirements, pin other reqs for 2.7
  requirements.txt
Due: none

Deploy fs027 with CaMelCased hostname
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix default value of tempestconf overrides
  config/general_config/featureset001.yml
  config/general_config/featureset020.yml
  config/general_config/featureset021.yml
  config/general_config/featureset030.yml
  config/general_config/featureset035.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container

[doc] How to update the fs matrix
  doc/source/feature-configuration-generated.rst
  doc/source/feature-configuration.rst
  fs-matrix.py
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: config/general_config/featureset005.yml
  tripleo-ci-centos-7-scenario001-standalone: any of: ^config/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: config/general_config/featureset006.yml
  tripleo-ci-centos-7-scenario002-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: config/general_config/featureset007.yml
  tripleo-ci-centos-7-scenario003-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: config/general_config/featureset008.yml
  tripleo-ci-centos-7-scenario004-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: config/general_config/featureset030.yml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: config/general_config/featureset033.yml
  tripleo-ci-centos-7-standalone: any of: config/general_config/featureset052.yml
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: config/general_config/featureset038.yml
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: config/general_config/featureset026.yml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: config/general_config/featureset031.yml
