Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Add local development with FreeIPA focused featureset043
  config/general_config/featureset043.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Use proxy with trunk.rdoproject.org if available
  roles/repo-setup/tasks/get-dlrn-hash-newest.yml
  roles/repo-setup/tasks/get-dlrn-hash.yml
Due: none

Use config_drive for network basicops tests
  config/general_config/featureset001.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add settings from fs001 missing in fs035
  config/general_config/featureset035.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Pass tripleo-admin user for updates/upgrades in Queens.
  config/general_config/featureset037.yml
  config/general_config/featureset051.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Move *_container_cli settings to extras-common
  config/general_config/featureset001.yml
  config/general_config/featureset010.yml
  config/general_config/featureset020.yml
  config/general_config/featureset021.yml
  config/general_config/featureset027.yml
  config/general_config/featureset035.yml
  config/general_config/featureset039.yml
  config/general_config/featureset043.yml
  config/general_config/featureset050.yml
  config/general_config/featureset053.yml
  config/general_config/featureset061.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Resolve multiple warnings
  install-deps.sh
  roles/repo-setup/tasks/get-dlrn-hash-newest.yml
Due: none

Fedora 28 removal
  config/release/tripleo-ci/Fedora-28/master.yml
  config/release/tripleo-ci/Fedora-28/promotion-testing-hash-master.yml
  config/release/tripleo-ci/Fedora-28/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/Fedora-28/stein.yml
  molecule/install-deps/molecule.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Assure curl errors are visible
  roles/repo-setup/tasks/get-dlrn-hash-newest.yml
  roles/repo-setup/tasks/get-dlrn-hash.yml
Due: none

install ceph-ansible on rhel8
  config/release/tripleo-ci/RedHat-8/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Run fs030 job with docker
  config/general_config/featureset030.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add ceph-ansible to promotion jobs on RHEL8
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fail when $VIRTHOST is localhost
  quickstart.sh
Due: none

fs010: disable validations on the undercloud
  config/general_config/featureset010.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Update the constraints url
  tox.ini
Due: none

fix tq,cico setup
  ci-scripts/get-node.sh
Due: none

Added release file for train
  config/release/train.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-train.yml
  config/release/tripleo-ci/CentOS-7/train.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
  config/release/trunk/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Switching default centos url for image promotion
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-queens.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-rocky.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix secondary (overcloud) subnode indexes
  roles/tripleo-inventory/tasks/inventory.yml
Due: none

Fix log collection for Phase1 virthost jobs
  ci-scripts/collect-logs.sh
Due: none

Use custom ceph-ansible until c8 storage sig ready
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Adapt os_tempest in FS001
  config/general_config/featureset001.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add train support for centosci
  config/release/centosci/train-current-tripleo.yml
Due: tripleo-ci-centos-7-scenario001-standalone

RHEL 8 upstream needs to be permissive
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

increase deploy timeout in ci.centos
  config/environments/ci_centos_libvirt.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add Keycloak setup to featureset039
  config/general_config/featureset039.yml
  quickstart-extras-requirements.txt
  roles/libvirt/setup/supplemental/templates/tls_everywhere_provisioner.sh.j2
Due: tripleo-ci-centos-7-scenario001-standalone

Update broken docs link in default deployment message
  quickstart.sh
Due: none

Workaround ansible-lint installation failure
  .ansible-lint
  .pre-commit-config.yaml
  roles/libvirt/setup/overcloud/vars/libvirt_nodepool_vars.yml
  roles/libvirt/teardown/nodes/tasks/main.yml
  tox.ini
Due: none

ansible-lint: remove 306 skip (pipefail)
  .ansible-lint
  roles/fetch-images/tasks/fetch.yml
  roles/libvirt/setup/common/tasks/main.yml
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
  roles/parts/kvm/tasks/main.yml
  roles/provision/remote/tasks/main.yml
Due: none

Add queens to some of the featureset038 conditionals
  config/general_config/featureset038.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add support for running tempest against Octavia featuresets
  config/general_config/featureset038.yml
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Set the amphora image to stein branch
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Move fs020 to os_tempest from train onwards
  config/general_config/featureset020.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Port fs021 to os_tempest
  config/general_config/featureset021.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add CloudSIG stein/train release files
  config/release/tripleo-ci/CentOS-7/cloudsig/stein.yml
  config/release/tripleo-ci/CentOS-7/cloudsig/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Match RHEL 8 images to containers used
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Enable ipv6 tempest tests with os_tempest
  config/general_config/featureset035.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Disable Paunch on the undercloud job (fs027)
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove no longer needed deployed-server bootstrap environment
  config/general_config/featureset032.yml
Due: tripleo-ci-centos-7-scenario001-standalone

print out the git commit hash
  install-deps.sh
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: config/general_config/featureset005.yml
  tripleo-ci-centos-7-scenario001-standalone: any of: ^config/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: config/general_config/featureset006.yml
  tripleo-ci-centos-7-scenario002-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: config/general_config/featureset007.yml
  tripleo-ci-centos-7-scenario003-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: config/general_config/featureset008.yml
  tripleo-ci-centos-7-scenario004-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: config/general_config/featureset030.yml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: config/general_config/featureset033.yml
  tripleo-ci-centos-7-standalone: any of: config/general_config/featureset052.yml
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: config/general_config/featureset038.yml
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: config/general_config/featureset026.yml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: config/general_config/featureset031.yml
