Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Disable tripleo-upgrade launch_sanity_workload parameter.
  config/general_config/featureset036.yml
  config/general_config/featureset040.yml
  config/general_config/featureset051.yml
Due: tripleo-ci-centos-7-scenario001-standalone

curl install-deps if needed
  quickstart.sh
Due: none

use bindep to install rpm deps
  bindep_python2.txt
  bindep_python3.txt
  install-deps.sh
  quickstart.sh
Due: none

Update FreeIPA featureset file
  config/general_config/featureset039.yml
Due: tripleo-ci-centos-7-scenario001-standalone

use a single bindep config file
  bindep.txt
  bindep_python2.txt
  bindep_python3.txt
  install-deps.sh
Due: none

Ensure the latest rpms versions are installed
  bindep.txt
  install-deps.sh
Due: none

Add centos7-rt repository
  config/release/tripleo-ci/CentOS-7/consistent-master.yml
  config/release/tripleo-ci/CentOS-7/consistent-ocata.yml
  config/release/tripleo-ci/CentOS-7/consistent-pike.yml
  config/release/tripleo-ci/CentOS-7/consistent-queens.yml
  config/release/tripleo-ci/CentOS-7/consistent-rocky.yml
  config/release/tripleo-ci/CentOS-7/master-undercloud-queens-overcloud.yml
  config/release/tripleo-ci/CentOS-7/master-undercloud-rocky-overcloud.yml
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/ocata.yml
  config/release/tripleo-ci/CentOS-7/pike-undercloud-ocata-overcloud.yml
  config/release/tripleo-ci/CentOS-7/pike.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-ocata.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-pike.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-queens.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-rocky.yml
  config/release/tripleo-ci/CentOS-7/queens-undercloud-newton-overcloud.yml
  config/release/tripleo-ci/CentOS-7/queens-undercloud-pike-overcloud.yml
  config/release/tripleo-ci/CentOS-7/queens.yml
  config/release/tripleo-ci/CentOS-7/rocky-undercloud-queens-overcloud.yml
  config/release/tripleo-ci/CentOS-7/rocky.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add supplemental node to inventory
  config/general_config/featureset039.yml
  roles/tripleo-inventory/defaults/main.yml
  roles/tripleo-inventory/files/get_extra_node.py
  roles/tripleo-inventory/tasks/inventory.yml
  roles/tripleo-inventory/tasks/main.yml
  roles/tripleo-inventory/templates/ssh_config.j2
Due: tripleo-ci-centos-7-scenario001-standalone

Adding tempest plugins into black list for featureset021
  config/general_config/featureset021.yml
Due: tripleo-ci-centos-7-scenario001-standalone

remove other-requirements.txt
  bindep.txt
  other-requirements.txt
Due: none

bindep can be called w/o -f file
  install-deps.sh
Due: none

Add featureset for scenario012 standalone
  config/general_config/featureset060.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Set hostname for undercloud-upgrade
  config/general_config/featureset047.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Use private IP for supplemental node
  config/general_config/featureset039.yml
  roles/tripleo-inventory/files/remove_extra_node.py
  roles/tripleo-inventory/tasks/inventory.yml
  roles/tripleo-inventory/templates/ssh_config.j2
Due: tripleo-ci-centos-7-scenario001-standalone

Set hostname for containerized undercloud-upgrade
  config/general_config/featureset050.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix freeipa role for quickstart
  roles/tripleo-inventory/templates/ssh_config.j2
Due: none

Ensure cirros-0.3.6 is referenced consistently
  ci-scripts/provision_centos_settings.yml
Due: none

Ignore novajoin tests in job that don't support it
  config/general_config/featureset020.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Activate validate-services on fs056
  config/general_config/featureset056.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add new nodes config for IPA job
  config/nodes/1ctlr_2comp_1supp.yml
Due: tripleo-ci-centos-7-scenario001-standalone

pacemaker: force the use of docker for ContainerCli
  config/general_config/pacemaker.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add qemu-guest-agent to libvirt guests
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
  roles/libvirt/setup/overcloud/templates/libvirtnodepoolvm.xml.j2
Due: none

fix the f28 container namespace
  config/release/tripleo-ci/Fedora-28/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Point to the right ovn environment file
  config/general_config/featureset028.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq

Remove dependency on github for cloning
  ci-scripts/usbkey/quickstart.sh
  quickstart.sh
Due: none

Revert "Activate ansible lint after deployment."
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-standalone

Improve virt-resize UX
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
Due: none

Add ipv4 undercloud_external_network when the overcloud is ipv6
  roles/common/defaults/main.yml
Due: none

Fix use of VIRTHOST variable on quickstart.sh
  quickstart.sh
Due: none

Add libvirt env for qemu-guest task
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
Due: none

Execute ara script in best effort
  ci-scripts/collect-logs.sh
Due: none

Adding barbican on skip list of featureset020
  config/general_config/featureset020.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Improve tempest plugins installation
  roles/convert-image/templates/convert_image.sh.j2
Due: none

Replace openstack.org git:// URLs with https://
  quickstart.sh
Due: none

Improve master release config reusability
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/Fedora-28/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add release configuration for stein
  config/release/stein.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/CentOS-7/stein.yml
  config/release/tripleo-ci/Fedora-28/stein.yml
  config/release/trunk/stein.yml
  roles/repo-setup/defaults/main.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Improve own path detection in quickstart.sh
  quickstart.sh
Due: none

Add missing dnf-plugins-core on fedora
  config/release/tripleo-ci/Fedora-28/master.yml
  config/release/tripleo-ci/Fedora-28/stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

standalone upgrade needs container_cli config
  config/general_config/featureset056.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Run standalone in gate as in check
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: config/general_config/featureset005.yml
  tripleo-ci-centos-7-scenario001-standalone: any of: ^config/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: config/general_config/featureset006.yml
  tripleo-ci-centos-7-scenario002-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: config/general_config/featureset007.yml
  tripleo-ci-centos-7-scenario003-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: config/general_config/featureset008.yml
  tripleo-ci-centos-7-scenario004-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: config/general_config/featureset030.yml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: config/general_config/featureset033.yml
  tripleo-ci-centos-7-standalone: any of: config/general_config/featureset052.yml
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: config/general_config/featureset038.yml
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: config/general_config/featureset026.yml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: config/general_config/featureset031.yml
