Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Use clouds.yaml for fs062
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add tripleo-ansible to the extras-requirements
  quickstart-extras-requirements.txt
Due: none

Add tripleo-ansible modules into library path
  ansible.cfg
Due: none

[fs038] Update tempest config for octavia
  config/general_config/featureset038.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix logic for periodic job
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-standalone

need more than one test defined for 062
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
  test-requirements.txt
Due: none

Use upper constraints for quickstart requirements
  quickstart.sh
Due: none

Add ansible-collections-openstack to requirements
  quickstart-extras-requirements.txt
  quickstart.sh
Due: none

Allow resize for RHEL images with /dev/sda3 partition
  roles/libvirt/setup/undercloud/tasks/main.yml
  roles/libvirt/teardown/nodes/tasks/main.yml
Due: none

Add ussuri support for centosci
  config/release/centosci/ussuri-current-tripleo.yml
Due: tripleo-ci-centos-7-scenario001-standalone

pin tq virt-env for py27 to train
  quickstart.sh
Due: none

Configure docker host for local container build
  config/release/tripleo-ci/CentOS-7/consistent-master.yml
  config/release/tripleo-ci/CentOS-7/consistent-newton.yml
  config/release/tripleo-ci/CentOS-7/consistent-ocata.yml
  config/release/tripleo-ci/CentOS-7/consistent-pike.yml
  config/release/tripleo-ci/CentOS-7/consistent-queens.yml
  config/release/tripleo-ci/CentOS-7/consistent-rocky.yml
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/pike.yml
  config/release/tripleo-ci/CentOS-7/queens.yml
  config/release/tripleo-ci/CentOS-7/rocky.yml
  config/release/tripleo-ci/CentOS-7/stein.yml
  config/release/tripleo-ci/CentOS-7/train.yml
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/train.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

[fs062] Enable octavia scenario tests
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix train release file for component pipeline and check
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/CentOS-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Ignore failures in dnf when no repos are configured
  config/release/tripleo-ci/CentOS-8/cloudsig/ussuri.yml
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-ussuri.yml
  config/release/tripleo-ci/CentOS-8/train.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix repo-setup for Centos8 Train
  roles/repo-setup/tasks/get-dlrn-hash-newest.yml
  roles/repo-setup/tasks/get-dlrn-hash.yml
Due: none

Fix 'System is booting up' error on undercloud
  playbooks/quickstart.yml
Due: none

Switch off nova/glance in featureset001
  config/general_config/featureset001.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix docker_registry_namespace for RDO Phase1 promotion job
  config/release/centosci/ussuri-current-tripleo.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Rework resolv.conf
  roles/libvirt/setup/overcloud/tasks/register_vm.yml
Due: none

Don't force qemu guest installation
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
Due: none

Set dlrn_baseurl default based on distro
  roles/repo-setup/defaults/main.yml
Due: none

Use dnf/yum for customizing libvirt nodepool images
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
Due: none

Allow custom passwords for zuul subnodes in repro
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
Due: none

Modify fs039 to run without novajoin on Ussuri+
  config/general_config/featureset039.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Removing some profile overrides from featureset062
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix fs30 CentOS-8 job with /etc/docker does not exists
  config/general_config/featureset030.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Set load_balancer.member_role for tempestconf for train
  config/general_config/featureset062.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove verbose log output
  config/general_config/featureset010.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Pin pip to last good version - 20.1.1 for c7
  install-deps.sh
Due: none

Add native variable to locally build containers
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

update centos-ci to centos8
  config/release/centosci/train-current-tripleo.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Switch Standalone environment to centos8
  ci-scripts/full-deploy.sh
  ci-scripts/include-gate-changes.sh
  config/environments/standalone_centos_libvirt.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Use container-tools:2.0 instead of default rhel8 stream
  config/release/centosci/master-current-tripleo.yml
  config/release/centosci/ussuri-current-tripleo.yml
  config/release/tripleo-ci/CentOS-8/cloudsig/ussuri.yml
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-ussuri.yml
  config/release/tripleo-ci/CentOS-8/train.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
  config/release/trunk/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Added ironic specific variables in the featureset060 file.
  config/general_config/featureset060.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix python name for collection package in reqs
  quickstart-extras-requirements.txt
Due: none

Allow CentOS8 jobs to run with custom dlrn hashes
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-ussuri.yml
  config/release/tripleo-ci/CentOS-8/train.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

fix openstack collections in tq
  ansible.cfg
  quickstart.sh
Due: none

New CI job: support docker registry from another job
  config/release/tripleo-ci/CentOS-8/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: config/general_config/featureset005.yml
  tripleo-ci-centos-7-scenario001-standalone: any of: ^config/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: config/general_config/featureset006.yml
  tripleo-ci-centos-7-scenario002-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: config/general_config/featureset007.yml
  tripleo-ci-centos-7-scenario003-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: config/general_config/featureset008.yml
  tripleo-ci-centos-7-scenario004-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: config/general_config/featureset030.yml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: config/general_config/featureset033.yml
  tripleo-ci-centos-7-standalone: any of: config/general_config/featureset052.yml
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: config/general_config/featureset038.yml
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: config/general_config/featureset026.yml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: config/general_config/featureset031.yml
