Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-3nodes-multinode, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

zuul.d/layout.yaml:

---

- project:
    name: openstack/tripleo-quickstart
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-baremetal-minimal
      - tripleo-multinode-container-minimal
    check:
      jobs:
        - tripleo-ci-centos-7-3nodes-multinode:
            files:
              - config/general_config/featureset032.yml
        - tripleo-ci-centos-7-scenario001-multinode-oooq:
            files:
              - config/general_config/featureset005.yml
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - config/general_config/featureset016.yml
        - tripleo-ci-centos-7-scenario002-multinode-oooq:
            files:
              - config/general_config/featureset006.yml
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - config/general_config/featureset017.yml
        - tripleo-ci-centos-7-scenario003-multinode-oooq:
            files:
              - config/general_config/featureset007.yml
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - config/general_config/featureset018.yml
        - tripleo-ci-centos-7-scenario004-multinode-oooq:
            files:
              - config/general_config/featureset008.yml
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - config/general_config/featureset019.yml
        - tripleo-ci-centos-7-scenario007-multinode-oooq:
            files:
              - config/general_config/featureset028.yml
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - config/general_config/featureset030.yml
    gate:
      queue: tripleo
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq:
            files:
              - config/general_config/featureset005.yml
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container:
            files:
              - config/general_config/featureset016.yml
        - tripleo-ci-centos-7-scenario002-multinode-oooq:
            files:
              - config/general_config/featureset006.yml
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container:
            files:
              - config/general_config/featureset017.yml
        - tripleo-ci-centos-7-scenario003-multinode-oooq:
            files:
              - config/general_config/featureset007.yml
        - tripleo-ci-centos-7-scenario003-multinode-oooq-container:
            files:
              - config/general_config/featureset018.yml
        - tripleo-ci-centos-7-scenario004-multinode-oooq:
            files:
              - config/general_config/featureset008.yml
        - tripleo-ci-centos-7-scenario004-multinode-oooq-container:
            files:
              - config/general_config/featureset019.yml
        - tripleo-ci-centos-7-scenario007-multinode-oooq:
            files:
              - config/general_config/featureset028.yml
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - config/general_config/featureset030.yml
    experimental:
      jobs:
        - tripleo-ci-centos-7-scenario005-multinode-oooq:
            files:
              - config/general_config/featureset009.yml
        - tripleo-ci-centos-7-scenario006-multinode-oooq:
            files:
              - config/general_config/featureset026.yml
        - tripleo-ci-centos-7-scenario008-multinode-oooq:
            files:
              - config/general_config/featureset031.yml
        - tripleo-ci-centos-7-scenario009-multinode-oooq:
            files:
              - config/general_config/featureset033.yml

add rocky release file for centos
  config/release/centosci/rocky-current-tripleo.yml
Due: none

Remove references to jenkins jobs
  .gitignore
  setup.cfg
  test-requirements.txt
  tox.ini
Due: none

Fix spellcheck mistakes
  quickstart.sh
  roles/common/defaults/main.yml
Due: none

add rocky release file for users
  config/release/rocky.yml
  config/release/tripleo-ci/rocky.yml
Due: none

Add feature set file to run HA validations
  config/general_config/featureset041.yml
  doc/source/feature-configuration.rst
Due: none

set the correct config download settings for queens
  config/general_config/featureset016.yml
  config/general_config/featureset017.yml
  config/general_config/featureset018.yml
  config/general_config/featureset019.yml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

import zuul job settings from project-config
  zuul.d/layout.yaml
Due: none

switch documentation job to new PTI
  zuul.d/layout.yaml
Due: none

[FS021] Switch to containerized undercloud net config
  config/general_config/featureset021.yml
Due: none

Switch featuresets to workflow driven image prepare
  config/general_config/featureset026.yml
  config/general_config/featureset033.yml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Use atomic package from virt-sig for openshift job
  config/general_config/featureset033.yml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Revert "Revert "Move to openshift-ansible 3.10""
  config/general_config/featureset033.yml
  config/release/tripleo-ci/master.yml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Enable virt7-container-common-candidate repo starting in Stein
  config/release/tripleo-ci/master.yml
Due: none

Fix queens fs016 fs019
  config/general_config/featureset016.yml
  config/general_config/featureset019.yml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Add scenario010 to the check queue
  zuul.d/layout.yaml
Due: none

Revert "Enable virt7-container-common-candidate repo starting in Stein"
  config/release/tripleo-ci/master.yml
Due: none

Handle VirtualBMC 1.4.0+ setup
  roles/virtbmc/tasks/configure-vbmc.yml
Due: none

Set ansible in quickstart to 2.5.7
  requirements.txt
Due: none

Revert "Revert "Enable virt7-container-common-candidate repo starting in Stein""
  config/release/tripleo-ci/master.yml
Due: none

Install openstack-heat-agents for Queens and Ocata subnodes
  config/release/tripleo-ci/ocata.yml
  config/release/tripleo-ci/promotion-testing-hash-ocata.yml
  config/release/tripleo-ci/promotion-testing-hash-pike.yml
  config/release/tripleo-ci/promotion-testing-hash-queens.yml
  config/release/tripleo-ci/queens.yml
Due: none

Remove duplicate dictionary keys
  config/general_config/featureset016.yml
  config/general_config/featureset017.yml
  config/general_config/featureset018.yml
  config/general_config/featureset019.yml
  config/general_config/featureset021.yml
  config/general_config/featureset030.yml
  config/general_config/featureset031.yml
  config/general_config/featureset055.yml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

FS38: switch to containerized UC and config-download
  config/general_config/featureset038.yml
Due: none

Fix regex for python paunch package in repo config
  config/release/tripleo-ci/master-undercloud-queens-overcloud.yml
  config/release/tripleo-ci/master-undercloud-rocky-overcloud.yml
  config/release/tripleo-ci/master.yml
  config/release/tripleo-ci/newton.yml
  config/release/tripleo-ci/ocata.yml
  config/release/tripleo-ci/pike-undercloud-ocata-overcloud.yml
  config/release/tripleo-ci/pike.yml
  config/release/tripleo-ci/queens-undercloud-newton-overcloud.yml
  config/release/tripleo-ci/queens-undercloud-pike-overcloud.yml
  config/release/tripleo-ci/queens.yml
  config/release/tripleo-ci/rocky-undercloud-queens-overcloud.yml
  config/release/tripleo-ci/rocky.yml
  roles/repo-setup/README.md
Due: none

Pin openshift-ansible to last known good version
  config/general_config/featureset033.yml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Fix API version in the manila tempest config
  config/general_config/featureset008.yml
  config/general_config/featureset019.yml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Use containers-prepare-parameters in upgrades/updates jobs.
  config/general_config/featureset026.yml
  config/general_config/featureset033.yml
  config/general_config/featureset036.yml
  config/general_config/featureset037.yml
  config/general_config/featureset040.yml
  config/general_config/featureset051.yml
Due: tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Stop relying on old legacy sub_nodes_private
  config/nodes/1ctlr.yml
  config/nodes/2ctlr.yml
  roles/tripleo-inventory/tasks/inventory.yml
Due: none

Fixed package name for manila-tempest-plugin for pike
  config/general_config/featureset019.yml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq-container

Retry id command for stack user
  roles/provision/remote/tasks/main.yml
Due: none

use fs config to assign standalone role, tests
  config/general_config/featureset052.yml
Due: none

allow insecure curl downloads
  roles/fetch-images/tasks/fetch.yml
Due: none

Revert "Stop relying on old legacy sub_nodes_private"
  config/nodes/1ctlr.yml
  config/nodes/2ctlr.yml
  roles/tripleo-inventory/tasks/inventory.yml
Due: none

Set containerized_undercloud for OpenShift featureset
  config/general_config/featureset033.yml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Enable yamllint to avoid future key duplications
  .yamllint
  test-requirements.txt
  tox.ini
Due: none

use a more stable centos repo for k8s and container rpms
  config/release/tripleo-ci/master.yml
Due: none

tripleo-ci/master: add virt7-container-common-candidate
  config/release/tripleo-ci/consistent-master.yml
  config/release/tripleo-ci/master-undercloud-rocky-overcloud.yml
  config/release/tripleo-ci/master.yml
  config/release/tripleo-ci/promotion-testing-hash-master.yml
Due: none

Disable manila tests on ocata and pike
  config/general_config/featureset008.yml
  config/general_config/featureset019.yml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Update the outdated URL
  doc/source/design.rst
Due: none

use the debug callback (humananly_readable)
  ansible.cfg
Due: none

Document the KVM accelerated mode for building VMs
  doc/source/getting-started.rst
Due: none
