Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - tripleo-multinode-branchful
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq:
            files:
              - config/general_config/featureset005.yml
        - tripleo-ci-centos-7-scenario001-standalone:
            files:
              - ^config/.*$
        - tripleo-ci-centos-7-scenario002-multinode-oooq:
            files:
              - config/general_config/featureset006.yml
        - tripleo-ci-centos-7-scenario002-standalone:
            files:
              - config/general_config/featureset052.yml
              - zuul.d/layout.yaml
        - tripleo-ci-centos-7-scenario003-multinode-oooq:
            files:
              - config/general_config/featureset007.yml
        - tripleo-ci-centos-7-scenario003-standalone:
            files:
              - config/general_config/featureset052.yml
              - zuul.d/layout.yaml
        - tripleo-ci-centos-7-scenario004-multinode-oooq:
            files:
              - config/general_config/featureset008.yml
        - tripleo-ci-centos-7-scenario004-standalone:
            files:
              - config/general_config/featureset052.yml
              - zuul.d/layout.yaml
        - tripleo-ci-centos-7-scenario007-multinode-oooq:
            files:
              - config/general_config/featureset028.yml
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - config/general_config/featureset030.yml
        - tripleo-ci-centos-7-scenario009-multinode-oooq:
            files:
              - config/general_config/featureset033.yml
        - tripleo-ci-centos-7-standalone:
            files:
              - config/general_config/featureset052.yml
        - openstack-tox-linters
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - config/general_config/featureset038.yml
    gate:
      queue: tripleo
      jobs:
        - openstack-tox-linters
        - tripleo-ci-centos-7-scenario001-standalone:
            files:
              - ^config/.*$
        - tripleo-ci-centos-7-scenario004-standalone:
            files:
              - config/general_config/featureset052.yml
              - zuul.d/layout.yaml
    experimental:
      jobs:
        - tripleo-ci-centos-7-scenario006-multinode-oooq:
            files:
              - config/general_config/featureset026.yml
        - tripleo-ci-centos-7-scenario008-multinode-oooq:
            files:
              - config/general_config/featureset031.yml

Port fs030 to os_tempest
  config/general_config/featureset030.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container

add backup and restore for quickstart
  doc/source/getting-started.rst
  doc/source/index.rst
Due: none

Also consider FS type when resizing overcloud img
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
Due: none

Port fs027 job to os_tempest
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

set undercloud to permissive for rhel upstream
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Deploy the undercloud/overcloud containerized in newer versions
  config/general_config/featureset050.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Load os_tempest skiplist only train release onwards
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Include job.add_repos to repo_setup
  roles/repo-setup/templates/repo_setup.sh.j2
Due: none

Install texttable and harmonize the way to install.
  doc/requirements.txt
  tox.ini
Due: none

Configure UC rocky upgrade vars
  config/general_config/featureset047.yml
  config/general_config/featureset050.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Revert "Configure UC rocky upgrade vars"
  config/general_config/featureset047.yml
  config/general_config/featureset050.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Set containerized_undercloud to false
  config/general_config/featureset047.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Move ostempest job definition with in featureset 52
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-standalone

bindep: remove python-pip from centos
  bindep.txt
Due: none

Add tripleo-operator-ansible to install
  quickstart-extras-requirements.txt
  quickstart.sh
Due: none

Fix collections path
  quickstart.sh
Due: none

Added module_hotfixes support in repo setup role
  roles/repo-setup/README.md
  roles/repo-setup/templates/repo_setup.sh.j2
Due: none

Revert "Use custom ceph-ansible until c8 storage sig ready"
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

fs010/undercloud: disable paunch
  config/general_config/featureset010.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Use python -m pip instead pip command.
  tox.ini
Due: none

lint: pre-commit hook maintenance
  .ansible-lint
  .pre-commit-config.yaml
  roles/fetch-images/tasks/fetch.yml
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
  roles/libvirt/setup/overcloud/tasks/register_vm.yml
  roles/repo-setup/tasks/setup_repos.yml
  roles/tripleo-inventory/tasks/openstack.yml
  roles/virtbmc/tasks/configure-vbmc.yml
Due: none

[fs052] use plain smoke tag for tempest tests in seperate var
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-standalone

Run multinode and undercloud jobs nova-less
  config/general_config/featureset-multinode-common.yml
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Bump ansible to 2.9 for quickstart
  requirements.txt
Due: none

disable tls for issues in undercloud
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

remove code block for ansible < 2.3
  roles/libvirt/setup/undercloud/tasks/main.yml
Due: none

Add support for vexxhost registry in periodics
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-ocata.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-pike.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-queens.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-rocky.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Revert "disable tls for issues in undercloud"
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix extra node name parsing for alltls job
  roles/tripleo-inventory/files/get_extra_node.py
Due: none

Adding sslverify on add_repo
  roles/repo-setup/README.md
  roles/repo-setup/templates/repo_setup.sh.j2
Due: none

Add nova cellv2 multicell support
  config/general_config/featureset063.yml
  config/nodes/1ctlr_1cellctrl_1comp.yml
  doc/source/feature-configuration-generated.rst
  releasenotes/notes/nova_cellv2_multicell-faef8f0157dcecf0.yaml
  roles/common/defaults/main.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove hardcoding of python interpreter for rhel8
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Increase featureset020 concurrency to 4
  config/general_config/featureset020.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Bump molecule
  molecule/install-deps/molecule.yml
  tox.ini
Due: none

Revert "Remove hardcoding of python interpreter for rhel8"
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Split fs20 periodic tempest - api* in fs1 scenario* in fs20
  config/general_config/featureset001.yml
  config/general_config/featureset020.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Use metalsmith for getting OC servers in inventory when available
  roles/tripleo-inventory/templates/get-overcloud-nodes.py.j2
Due: none

Run RDO jobs with baremetal provisioning
  config/general_config/featureset001.yml
  config/general_config/featureset053.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Change vexxhost provider name
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-ocata.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-pike.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-queens.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-rocky.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

[install-deps]Install "virtualenv<20.0.1"
  bindep.txt
  install-deps.sh
  tox.ini
Due: none
