Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-3nodes-multinode, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Fix broken README refs in getting started guide
  doc/source/basic-usage.rst
  doc/source/getting-started.rst
  doc/source/index.rst
Due: none

allow tq req to be installed w/o cache
  quickstart.sh
Due: none

Add creator role to tempest configuration in Pike
  config/general_config/featureset006.yml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq

Add fs038 for Octavia scenario testing
  config/general_config/featureset038.yml
  doc/source/feature-configuration.rst
  releasenotes/notes/add-fs038-for-octavia-c3fef2c3e65c0a55.yaml
Due: none

save curl errors in separate file for future debug
  config/release/tripleo-ci/consistent-master.yml
  config/release/tripleo-ci/consistent-newton.yml
  config/release/tripleo-ci/consistent-ocata.yml
  config/release/tripleo-ci/consistent-pike.yml
  config/release/tripleo-ci/consistent-queens.yml
  config/release/tripleo-ci/master-undercloud-queens-overcloud.yml
  config/release/tripleo-ci/master.yml
  config/release/tripleo-ci/newton.yml
  config/release/tripleo-ci/ocata.yml
  config/release/tripleo-ci/pike-undercloud-ocata-overcloud.yml
  config/release/tripleo-ci/pike.yml
  config/release/tripleo-ci/promotion-testing-hash-master.yml
  config/release/tripleo-ci/promotion-testing-hash-newton.yml
  config/release/tripleo-ci/promotion-testing-hash-ocata.yml
  config/release/tripleo-ci/promotion-testing-hash-pike.yml
  config/release/tripleo-ci/promotion-testing-hash-queens.yml
  config/release/tripleo-ci/queens-undercloud-newton-overcloud.yml
  config/release/tripleo-ci/queens-undercloud-pike-overcloud.yml
  config/release/tripleo-ci/queens.yml
Due: none

Revert "Revert "Deploy container-multinode (fs010) with a containerized undercloud""
  config/general_config/featureset010.yml
Due: none

Don't trigger repo injection if nothing was built
  roles/libvirt/setup/undercloud/tasks/main.yml
Due: none

make fs21 like fs20 w/o skip list
  config/general_config/featureset021.yml
Due: none

add default overcloud-prep tags
  quickstart.sh
Due: none

Use delorean-build-deps.repo for test-package-build
  config/release/tripleo-ci/master-undercloud-queens-overcloud.yml
Due: none

Enable pipelining for ansible
  ansible.cfg
Due: none

Fix up pm_addr when undercloud_local_ip is specified
  roles/libvirt/setup/overcloud/templates/instackenv.json.j2
Due: none

Bump ARA version to 0.15.0
  requirements.txt
Due: none

Enforce use-heat=False on 3 jobs
  config/general_config/featureset003.yml
  config/general_config/featureset016.yml
  config/general_config/featureset017.yml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Reconfigure undercloud args for scenarios
  config/general_config/featureset018.yml
  config/general_config/featureset019.yml
  config/general_config/featureset030.yml
Due: tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Use undercloud kernel when not overcloud_as_undercloud
  roles/libvirt/setup/undercloud/tasks/main.yml
Due: none

ci-scripts: avoid failure when cd prints to stdout
  ci-scripts/basic.sh
Due: none

Configure 3nodes & scenario000-upgrades underclouds
  config/general_config/featureset032.yml
  config/general_config/featureset051.yml
Due: tripleo-ci-centos-7-3nodes-multinode

update the minimal config for master
  config/general_config/minimal.yml
Due: none

update image url for tripleo builds outside of ci
  config/release/tripleo-ci/master.yml
  config/release/tripleo-ci/newton.yml
  config/release/tripleo-ci/ocata.yml
  config/release/tripleo-ci/pike.yml
  config/release/tripleo-ci/queens.yml
Due: none

Set ntp server in ntp args
  config/general_config/featureset001.yml
Due: none

Don't use NTP server in extra args
  config/general_config/deprecated/composable_upgrade.yml
  config/general_config/deprecated/ipa.yml
  config/general_config/deprecated/ipv6.yml
  config/general_config/deprecated/minimal_pacemaker.yml
  config/general_config/featureset001.yml
  config/general_config/featureset002.yml
  config/general_config/featureset020.yml
  config/general_config/featureset021.yml
  config/general_config/featureset022.yml
  config/general_config/featureset024.yml
  config/general_config/featureset025.yml
  config/general_config/featureset026.yml
  config/general_config/featureset027.yml
  config/general_config/featureset028.yml
  config/general_config/featureset030.yml
  config/general_config/featureset031.yml
  config/general_config/featureset033.yml
  config/general_config/featureset035.yml
  config/general_config/featureset039.yml
  config/general_config/featureset042.yml
  config/general_config/featureset048.yml
  config/general_config/featureset049.yml
  config/general_config/minimal.yml
  config/general_config/pacemaker.yml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq, tripleo-ci-centos-7-scenario009-multinode-oooq

Add tripleo-ha-utils as a requirement
  quickstart-extras-requirements.txt
Due: none

Avoid local working dir task failure on local without sudo
  roles/provision/local/tasks/main.yml
Due: none

make quickstart.sh more user friendly with pip errors
  quickstart.sh
Due: none

Enabling cont/uc on scenario001/002
  config/general_config/featureset016.yml
  config/general_config/featureset017.yml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

update minimal to keep it up to date with containers
  config/general_config/minimal.yml
Due: none

basic tests in ci.centos need to install the undercloud
  ci-scripts/basic.sh
Due: none

Fix Ansible Using tests as filters is deprecated
  roles/environment/teardown/tasks/main.yml
  roles/fetch-images/tasks/fetch.yml
  roles/libvirt/setup/common/tasks/main.yml
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
  roles/libvirt/setup/overcloud/tasks/main.yml
  roles/libvirt/setup/supplemental/tasks/provision.yml
  roles/libvirt/setup/undercloud/tasks/main.yml
  roles/libvirt/teardown/nodes/tasks/main.yml
  roles/provision/teardown/tasks/main.yml
Due: none

Add Browbeat feature set and install requirements
  config/general_config/featureset053.yml
  doc/source/feature-configuration.rst
  quickstart-extras-requirements.txt
Due: none

remove scenario005 from experimental
  zuul.d/layout.yaml
Due: none

Add option to install additional roles
  quickstart.sh
Due: none

ensure pip deps are at the latest version
  ci-scripts/full-deploy.sh
Due: none

Remove --use-heat usage, as it's deprecated
  config/general_config/featureset001.yml
  config/general_config/featureset002.yml
  config/general_config/featureset010.yml
  config/general_config/featureset016.yml
  config/general_config/featureset017.yml
  config/general_config/featureset018.yml
  config/general_config/featureset019.yml
  config/general_config/featureset020.yml
  config/general_config/featureset027.yml
  config/general_config/featureset030.yml
  config/general_config/featureset032.yml
  config/general_config/featureset035.yml
  config/general_config/featureset037.yml
  config/general_config/minimal.yml
Due: tripleo-ci-centos-7-3nodes-multinode, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Let's tempestconf tool handle swift related conf
  config/general_config/featureset008.yml
  config/general_config/featureset019.yml
Due: tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Don't clean bootstrapped env in ci.centos
  ci-scripts/full-deploy.sh
  ci-scripts/get-node.sh
Due: none

Don't clean node in ci.centos
  ci-scripts/get-node.sh
Due: none

Update the config for FS021
  config/general_config/featureset021.yml
Due: none

Use net-config-undercloud for UC in minimal config
  config/general_config/minimal.yml
Due: none

Move to openshift-ansible 3.10
  config/general_config/featureset033.yml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-3nodes-multinode: any of: config/general_config/featureset032.yml
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: config/general_config/featureset005.yml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: config/general_config/featureset016.yml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: config/general_config/featureset006.yml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: config/general_config/featureset017.yml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: config/general_config/featureset007.yml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: config/general_config/featureset018.yml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: config/general_config/featureset008.yml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: config/general_config/featureset019.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: config/general_config/featureset030.yml
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: config/general_config/featureset009.yml
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: config/general_config/featureset026.yml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: config/general_config/featureset031.yml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: config/general_config/featureset033.yml
