Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Consume puppet-oslo from delorean current repo
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix registry namespace
  config/release/tripleo-ci/CentOS-8/master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add openstack- docker_prep_prefix for Victoria release
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Leave container_registry_file to identify containers file in pre-rocky jobs.
  config/general_config/featureset036.yml
  config/general_config/featureset037.yml
  config/general_config/featureset040.yml
  config/general_config/featureset051.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Update standalone-upgrade featureset 056 for os-tempest
  config/general_config/featureset056.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Enable undercloud nova for featureset039
  config/general_config/featureset039.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Disable tripleo_upgrade_debug
  config/general_config/featureset037.yml
  config/general_config/featureset040.yml
  config/general_config/featureset051.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Run some more featuresets with baremetal provisioning
  config/general_config/featureset002.yml
  config/general_config/featureset020.yml
  config/general_config/featureset035.yml
  config/nodes/1ctlr_2comp.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add dependency repo files and commands to repo_setup
  config/release/dependency_ci/centos8stream/repo_config.yaml
  roles/repo-setup/tasks/main.yml
  roles/repo-setup/tasks/set-dependency-repo-vars.yml
  roles/repo-setup/templates/repo_setup.sh.j2
Due: tripleo-ci-centos-7-scenario001-standalone

Enable undercloud nova for fs020
  config/general_config/featureset020.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix containers config file on fs037
  config/general_config/featureset037.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Run minimal featureset with baremetal provisioning for victoria+
  config/general_config/minimal.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fix ansible-lint for python 3.8
  .ansible-lint
  .pre-commit-config.yaml
  molecule-requirements.txt
  tox.ini
Due: none

Enable HA always for upgrade job
  config/general_config/featureset056.yml
Due: tripleo-ci-centos-7-scenario001-standalone

making sure undercloud_enable_novajoin set correctly
  config/general_config/featureset039.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Set tripleoussuri container namespace for rdo check jobs
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove openvswitch exclude from deps update
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-ussuri.yml
  config/release/tripleo-ci/CentOS-8/train.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Rename dependency repos with quickstart- for build-test-packages
  config/release/dependency_ci/centos8stream/repo_config.yaml
Due: tripleo-ci-centos-7-scenario001-standalone

Drop OS::TripleO::Undercloud::Net::SoftwareConfig mappings
  config/general_config/featureset001.yml
  config/general_config/featureset002.yml
  config/general_config/featureset010.yml
  config/general_config/featureset016.yml
  config/general_config/featureset017.yml
  config/general_config/featureset018.yml
  config/general_config/featureset019.yml
  config/general_config/featureset020.yml
  config/general_config/featureset027.yml
  config/general_config/featureset030.yml
  config/general_config/featureset031.yml
  config/general_config/featureset032.yml
  config/general_config/featureset035.yml
  config/general_config/featureset037.yml
  config/general_config/featureset038.yml
  config/general_config/featureset039.yml
  config/general_config/featureset040.yml
  config/general_config/featureset041.yml
  config/general_config/featureset043.yml
  config/general_config/featureset051.yml
  config/general_config/featureset053.yml
  config/general_config/featureset061.yml
  config/general_config/minimal.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Add release file for victoria release
  config/release/tripleo-ci/CentOS-8/promotion-testing-hash-victoria.yml
  config/release/tripleo-ci/CentOS-8/victoria.yml
Due: tripleo-ci-centos-7-scenario001-standalone

[centos8] Switch to content provider jobs/templates
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Remove resource_registry args for some multinode features
  config/general_config/featureset010.yml
  config/general_config/featureset016.yml
  config/general_config/featureset030.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove tempest_run_skipped var from fs052
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-standalone

Remove undercloud_blacklist var from fs027
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove network config from featureset060
  config/general_config/featureset060.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Fastfail on lint jobs
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Temporary pin-down with newer pytest-molecule
  molecule-requirements.txt
Due: none

Remove priority from stream repos
  config/release/dependency_ci/centos8stream/repo_config.yaml
Due: tripleo-ci-centos-7-scenario001-standalone

Add CloudSIG victoria release file
  config/release/tripleo-ci/CentOS-8/cloudsig/victoria.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove tempest_private_net_provider_type from featuresets
  config/environments/standalone_centos_libvirt.yml
  config/general_config/featureset001.yml
  config/general_config/featureset002.yml
  config/general_config/featureset020.yml
  config/general_config/featureset021.yml
  config/general_config/featureset035.yml
  config/general_config/featureset039.yml
  config/general_config/minimal.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Change docker_ceph_namespace to quay.ceph.io/ceph-ci from docker.io
  config/release/tripleo-ci/RedHat-8/master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-master.yml
  config/release/tripleo-ci/RedHat-8/promotion-testing-hash-train.yml
  config/release/tripleo-ci/RedHat-8/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Use dlrn_hash_tag from provider job in consumers
  config/release/tripleo-ci/CentOS-7/queens.yml
  config/release/tripleo-ci/CentOS-7/train.yml
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/train.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Set docker_registry_host using content provider for upgrade
  config/release/tripleo-ci/CentOS-8/master.yml
  config/release/tripleo-ci/CentOS-8/train.yml
  config/release/tripleo-ci/CentOS-8/ussuri.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Delete release file for deprecated releases
  config/release/centosci/newton-cloudsig-stable.yml
  config/release/centosci/newton-cloudsig-testing.yml
  config/release/centosci/newton.yml
  config/release/centosci/ocata-cloudsig-stable.yml
  config/release/centosci/ocata-cloudsig-testing.yml
  config/release/centosci/ocata-current-tripleo.yml
  config/release/centosci/ocata.yml
  config/release/centosci/pike-cloudsig-stable.yml
  config/release/centosci/pike-cloudsig-testing.yml
  config/release/centosci/pike-current-tripleo.yml
  config/release/centosci/pike.yml
  config/release/newton.yml
  config/release/ocata.yml
  config/release/pike.yml
  config/release/stable/newton.yml
  config/release/stable/ocata.yml
  config/release/stable/pike.yml
  config/release/tripleo-ci/CentOS-7/consistent-master.yml
  config/release/tripleo-ci/CentOS-7/consistent-newton.yml
  config/release/tripleo-ci/CentOS-7/consistent-ocata.yml
  config/release/tripleo-ci/CentOS-7/consistent-pike.yml
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/newton.yml
  config/release/tripleo-ci/CentOS-7/ocata.yml
  config/release/tripleo-ci/CentOS-7/pike.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-newton.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-ocata.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-pike.yml
  config/release/trunk/ocata.yml
  config/release/trunk/pike.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Added tempest_cloud_name for fs003
  config/general_config/featureset003.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Move rocky/stein jobs to use quay.io registry
  config/release/tripleo-ci/CentOS-7/rocky.yml
  config/release/tripleo-ci/CentOS-7/stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Nuke c7 master jobs from layout
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone

Add option to add NAT networks to overcloud nodes
  roles/common/defaults/main.yml
  roles/libvirt/setup/overcloud/templates/baremetalvm.xml.j2
Due: none

Add victoria release file for centosci
  config/release/centosci/victoria-current-tripleo.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Set use_buildah true for content-provider jobs for train c7
  config/release/tripleo-ci/CentOS-7/train.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: config/general_config/featureset005.yml
  tripleo-ci-centos-7-scenario001-standalone: any of: ^config/.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: config/general_config/featureset006.yml
  tripleo-ci-centos-7-scenario002-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: config/general_config/featureset007.yml
  tripleo-ci-centos-7-scenario003-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: config/general_config/featureset008.yml
  tripleo-ci-centos-7-scenario004-standalone: any of: config/general_config/featureset052.yml, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: config/general_config/featureset030.yml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: config/general_config/featureset033.yml
  tripleo-ci-centos-7-standalone: any of: config/general_config/featureset052.yml
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: config/general_config/featureset038.yml
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: config/general_config/featureset026.yml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: config/general_config/featureset031.yml
