Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

zuul.d/layout.yaml:

- project:
    templates:
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - tripleo-multinode-branchful
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
    check:
      jobs:
        - tripleo-ci-centos-7-scenario001-multinode-oooq:
            files:
              - config/general_config/featureset005.yml
        - tripleo-ci-centos-7-scenario001-standalone:
            files:
              - ^config/.*$
        - tripleo-ci-centos-7-scenario002-multinode-oooq:
            files:
              - config/general_config/featureset006.yml
        - tripleo-ci-centos-7-scenario002-standalone:
            files:
              - config/general_config/featureset052.yml
              - zuul.d/layout.yaml
        - tripleo-ci-centos-7-scenario003-multinode-oooq:
            files:
              - config/general_config/featureset007.yml
        - tripleo-ci-centos-7-scenario003-standalone:
            files:
              - config/general_config/featureset052.yml
              - zuul.d/layout.yaml
        - tripleo-ci-centos-7-scenario004-multinode-oooq:
            files:
              - config/general_config/featureset008.yml
        - tripleo-ci-centos-7-scenario004-standalone:
            files:
              - config/general_config/featureset052.yml
              - zuul.d/layout.yaml
        - tripleo-ci-centos-7-scenario007-multinode-oooq:
            files:
              - config/general_config/featureset028.yml
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - config/general_config/featureset030.yml
        - tripleo-ci-centos-7-scenario009-multinode-oooq:
            files:
              - config/general_config/featureset033.yml
        - tripleo-ci-centos-7-standalone:
            files:
              - config/general_config/featureset052.yml
        - openstack-tox-linters
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - config/general_config/featureset038.yml
    gate:
      queue: tripleo
      jobs:
        - openstack-tox-linters
        - tripleo-ci-centos-7-scenario001-standalone:
            files:
              - ^config/.*$
        - tripleo-ci-centos-7-scenario004-standalone:
            files:
              - config/general_config/featureset052.yml
              - zuul.d/layout.yaml
    experimental:
      jobs:
        - tripleo-ci-centos-7-scenario006-multinode-oooq:
            files:
              - config/general_config/featureset026.yml
        - tripleo-ci-centos-7-scenario008-multinode-oooq:
            files:
              - config/general_config/featureset031.yml

Add promotion-testing-hash-stein.yml for Fedora-28
  config/release/tripleo-ci/Fedora-28/promotion-testing-hash-stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Use fedora28-stein dlrn path for periodics
  config/release/tripleo-ci/Fedora-28/promotion-testing-hash-stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Use correct images.rdocloud server at fedora28
  config/release/tripleo-ci/Fedora-28/master.yml
  config/release/tripleo-ci/Fedora-28/promotion-testing-hash-master.yml
  config/release/tripleo-ci/Fedora-28/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/Fedora-28/stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add stein support for centosci
  config/release/centosci/stein-current-tripleo.yml
Due: tripleo-ci-centos-7-scenario001-standalone

align fs020/21 settings
  config/general_config/featureset020.yml
  config/general_config/featureset021.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Switch to topology_map
  config/nodes/1ctlr.yml
  config/nodes/1ctlr_1comp_1ceph.yml
  config/nodes/1ctlr_2comp_1supp.yml
  config/nodes/2ctlr.yml
  config/nodes/3ctlr_1comp.yml
  config/nodes/3ctlr_1comp_192gb.yml
  config/nodes/3ctlr_1comp_1supp.yml
  config/nodes/3ctlr_1comp_64gb.yml
  config/nodes/3ctlr_2comp_3ceph.yml
  config/nodes/3ctlr_3comp.yml
  config/nodes/baremetal_3ctlr_1comp.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove obsoleted mixed release config files
  config/release/master-undercloud-ocata-overcloud.yml
  config/release/ocata-undercloud-newton-overcloud.yml
  config/release/queens-undercloud-newton-overcloud.yml
  config/release/tripleo-ci/CentOS-7/master-undercloud-queens-overcloud.yml
  config/release/tripleo-ci/CentOS-7/master-undercloud-rocky-overcloud.yml
  config/release/tripleo-ci/CentOS-7/pike-undercloud-ocata-overcloud.yml
  config/release/tripleo-ci/CentOS-7/queens-undercloud-newton-overcloud.yml
  config/release/tripleo-ci/CentOS-7/queens-undercloud-pike-overcloud.yml
  config/release/tripleo-ci/CentOS-7/rocky-undercloud-queens-overcloud.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Add a baremetal 3 controller, 2 compute nodeset
  config/nodes/baremetal_3ctlr_2comp.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Remove consistent release config and trunk/newton
  config/release/centosci/master-consistent.yml
  config/release/centosci/newton-consistent.yml
  config/release/newton.yml
  config/release/trunk/newton.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Parametrize libvirt delay and retries
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
  roles/libvirt/setup/overcloud/tasks/vars/libvirt_nodepool_vars.yml
Due: none

Remove "validate_services" param from featureset
  config/general_config/featureset056.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Update all Stein and master jobs to use Ceph Nautilus
  config/release/centosci/master-current-tripleo.yml
  config/release/centosci/stein-current-tripleo.yml
  config/release/tripleo-ci/CentOS-7/consistent-master.yml
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/CentOS-7/stein.yml
  config/release/trunk/master.yml
  config/release/trunk/stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Create libvirt nodes dynamically
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
  roles/libvirt/setup/overcloud/tasks/register_vm.yml
  roles/libvirt/setup/overcloud/templates/zuul-hosts.yaml.j2
Due: none

add temp repo for rdoinfo changes podman/buildah
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Revert "add temp repo for rdoinfo changes podman/buildah"
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Check for broken symlinks
  .pre-commit-config.yaml
Due: none

[Docs] Updates docs links to moved CI guide in tripleo-docs
  doc/source/basic-usage.rst
  doc/source/devmode-ovb.rst
  doc/source/devmode.rst
Due: none

OpenDev Migration Patch
  .gitreview
  roles/libvirt/setup/undercloud/templates/update_image.sh.j2
Due: none

OpenDev Migration Patch 2
  ci-scripts/full-deploy-internal.sh
  ci-scripts/full-deploy-ovb.sh
  ci-scripts/full-deploy.sh
  ci-scripts/usbkey/quickstart.sh
  config/general_config/deprecated/composable_upgrade_ovb.yml
  config/general_config/featureset038.yml
  config/general_config/featureset045.yml
  config/general_config/featureset057.yml
  devmode.sh
  doc/source/configuration.rst
  doc/source/contributing.rst
  doc/source/design.rst
  doc/source/environment-configuration.rst
  doc/source/feature-configuration.rst
  doc/source/validations.rst
  doc/source/working-with-extras.rst
  quickstart-extras-requirements.txt
  quickstart.sh
  releasenotes/notes/2.0.0-1579472457180d77.yaml
  tox.ini
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Added ansible-role-collect-logs role to TQE requires
  quickstart-extras-requirements.txt
Due: none

Add link featureset.
  doc/source/feature-configuration.rst
Due: none

Fix PATH for bindep command
  install-deps.sh
Due: none

Fix featureset033 (scenario009) for stein
  config/general_config/featureset033.yml
Due: tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario009-multinode-oooq

Fix opendev linting
  tox.ini
Due: none

Avoid problematic recreation of virtualenv
  install-deps.sh
Due: none

Fix python2 package name dependencies.
  install-deps.sh
Due: none

add a noop-upgrade variable for fs051
  config/general_config/featureset051.yml
Due: tripleo-ci-centos-7-scenario001-standalone

Install selinux shim from pypi
  install-deps.sh
Due: none

Add baseos settings for undercloud baseos testing
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-rocky.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
  config/release/tripleo-ci/CentOS-7/rocky.yml
  config/release/tripleo-ci/CentOS-7/stein.yml
  roles/libvirt/setup/undercloud/tasks/main.yml
Due: tripleo-ci-centos-7-scenario001-standalone

add the missing o to tripleo
  doc/source/accessing-libvirt.rst
  doc/source/basic-usage.rst
Due: none

master promotion use the same repos as master
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
Due: tripleo-ci-centos-7-scenario001-standalone

pin Wekzeug module to 0.15.2
  requirements.txt
Due: none

Fix --install-deps bindep for quickstart.sh
  README.rst
  install-deps.sh
  quickstart.sh
Due: none

Revert "pin Wekzeug module to 0.15.2"
  requirements.txt
Due: none

Avoid installing warlock!=1.3.2 in TQ
  requirements.txt
Due: none

make sure dlrn_hash_tag_newest is defined in promotion jobs
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-rocky.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-stein.yml
Due: tripleo-ci-centos-7-scenario001-standalone

update install-deps for rhel8
  bindep.txt
  install-deps.sh
Due: none

Add a 1 controller, 2 compute nodesets
  config/nodes/1ctlr_2comp.yml
Due: tripleo-ci-centos-7-scenario001-standalone

fs027: test SSL with FQDN based undercloud_public_host
  config/general_config/featureset027.yml
Due: tripleo-ci-centos-7-scenario001-standalone
