Repository openstack-archive/tripleo-quickstart: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-3nodes-multinode, tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario009-multinode-oooq, tripleo-ci-centos-7-standalone, tripleo-ci-centos-7-scenario006-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Enable undercloud_enable_tempest to true for FS01
  config/general_config/featureset001.yml
Due: none

Enable undercloud_enable_tempest to true for minimal
  config/general_config/minimal.yml
Due: none

Revert "(squash) disabling podman everywhere in gate"
  config/general_config/featureset010.yml
  config/general_config/featureset027.yml
  config/general_config/featureset050.yml
Due: none

make quickstart.sh rpm pip/virtualenv optional
  quickstart.sh
Due: none

Switch to OpenShift 3.11
  config/general_config/featureset033.yml
  config/release/tripleo-ci/CentOS-7/master.yml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Use container images mirrored on dockerhub for CI
  config/general_config/featureset033.yml
Due: tripleo-ci-centos-7-scenario009-multinode-oooq

Explicitly set containerized_undercloud in the UC cont. upgrade job
  config/general_config/featureset050.yml
Due: none

Make setuptools RPM installation optional
  quickstart.sh
Due: none

Run tempest from package in non_containerized env
  config/general_config/featureset003.yml
Due: none

Remove developer tools from tripleo .gitignore
  .gitignore
Due: none

standalone support for quickstart on libvirt
  ci-scripts/full-deploy.sh
  config/environments/standalone_centos_libvirt.yml
  config/environments/standalone_fedora_libvirt.yml
  config/general_config/featureset052.yml
  roles/convert-image/defaults/main.yml
  roles/convert-image/templates/convert_image.sh.j2
  roles/libvirt/setup/overcloud/tasks/libvirt_nodepool.yml
  roles/libvirt/setup/undercloud/tasks/main.yml
Due: tripleo-ci-centos-7-standalone

Enable smoke tests and some tempest scenario on standalone
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-standalone

Add masquerade option to ipa.yaml configuration
  config/general_config/ipa.yml
Due: none

Switch upgrade job to master to master
  config/general_config/featureset051.yml
Due: none

Update fedora28 release file current dlrn hash
  config/release/tripleo-ci/Fedora-28/master.yml
Due: none

Enable low memory for standalone
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-standalone

Set undercloud_cloud_domain/hostname in fs023
  config/general_config/featureset023.yml
Due: none

Revert "Revert "(squash) disabling podman everywhere in gate""
  config/general_config/featureset010.yml
  config/general_config/featureset027.yml
  config/general_config/featureset050.yml
Due: none

Revert "Revert "Revert "(squash) disabling podman everywhere in gate"""
  config/general_config/featureset010.yml
  config/general_config/featureset027.yml
  config/general_config/featureset050.yml
Due: none

Move standalone job to podman instead of docker
  config/general_config/featureset052.yml
Due: tripleo-ci-centos-7-standalone

[Core] Update release stable list.
  roles/repo-setup/defaults/main.yml
Due: none

Use a shorter default domain name
  config/general_config/featureset039.yml
  config/general_config/ipa.yml
Due: none

Collect logs: disable SSL certificate verification
  roles/tripleo-inventory/templates/get-overcloud-nodes.py.j2
Due: none

Document usage of pre-commit
  doc/source/contributing.rst
Due: none

Run tempest.api.identity.v3 tests in fs016
  config/general_config/featureset016.yml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

master/hack: Switch to CBS instead of buildlogs
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
Due: none

[Configuration] Remove liberty files.
  ci-scripts/provision_centos_settings.yml
  config/release/centosci/liberty-consistent.yml
  config/release/centosci/liberty.yml
  config/release/liberty.yml
  config/release/trunk/liberty.yml
  roles/libvirt/setup/overcloud/templates/instackenv.json.j2
  roles/libvirt/setup/undercloud/tasks/main.yml
  roles/libvirt/setup/undercloud/templates/update_image.sh.j2
  roles/repo-setup/README.md
  roles/tripleo-inventory/tasks/inventory.yml
Due: none

Revert "master/hack: Switch to CBS instead of buildlogs"
  config/release/tripleo-ci/CentOS-7/master.yml
  config/release/tripleo-ci/CentOS-7/promotion-testing-hash-master.yml
Due: none

Fix little typo at pre-commit
  doc/source/contributing.rst
Due: none

Reintroduce get-overcloud-nodes tasks in tripleo-inventory role
  roles/tripleo-inventory/tasks/inventory.yml
Due: none

Change openstack-dev to openstack-discuss
  setup.cfg
Due: none

[Templates] Add a bridge setup.
  config/general_config/featureset031.yml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

[Configuration] Update min tox version.
  tox.ini
Due: none

Add featureset058 file for standalone-update
  config/general_config/featureset058.yml
  doc/source/feature-configuration.rst
Due: none

fs010: enable Podman on the overcloud
  config/general_config/featureset010.yml
Due: none

[Core] Fix links of delorean part.
  ci-scripts/provision_centos_settings.yml
Due: none

Replace scenario001-multinode with scenario001-standalone
  zuul.d/layout.yaml
Due: none

fs001/035/053: switch undercloud to podman
  config/general_config/featureset001.yml
  config/general_config/featureset035.yml
  config/general_config/featureset053.yml
Due: none

Drop baremetal job template
  zuul.d/layout.yaml
Due: none

[Documentation] Fix malformed table.
  doc/source/feature-configuration.rst
Due: none

Path conditions:
  tripleo-ci-centos-7-3nodes-multinode: any of: config/general_config/featureset032.yml
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: config/general_config/featureset005.yml
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: config/general_config/featureset016.yml
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: config/general_config/featureset006.yml
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: config/general_config/featureset017.yml
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: config/general_config/featureset007.yml
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: config/general_config/featureset018.yml
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: config/general_config/featureset008.yml
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: config/general_config/featureset019.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: config/general_config/featureset028.yml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: config/general_config/featureset030.yml
  tripleo-ci-centos-7-scenario009-multinode-oooq: any of: config/general_config/featureset033.yml
  tripleo-ci-centos-7-standalone: any of: config/general_config/featureset052.yml
  tripleo-ci-centos-7-scenario006-multinode-oooq: any of: config/general_config/featureset026.yml
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: config/general_config/featureset031.yml
